.current-temp__icon-container i {
  font-size: 5rem;
  padding: 1.5rem 0rem;
}

.next-3-days-forecast__icon_container i {
  font-size: 3rem;
}

// Tablet/Desktop only

.hourly-forecast__icon_container i {
  font-size: 2.5rem;
  // padding: 1rem 0rem; might come back to this
  padding: .5rem;
}

.next-5-days-forecast__icon_container i {
  // font-size: 2rem; might come back to this
  font-size: 1.5rem;
  padding: .5rem;
}