@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "variables";


.container {
  outline: 1px solid red;
  height: 100vh;
}

html {
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 300))) !important;
  height: 100%;
}

//Hide section D (xs,sm)
div.col-12:nth-child(4) {
  display: none;
}

//Hide section F (xs,sm)
div.col-12:nth-child(6) {
  display: none;
}

.current-location {
  background-color: rgba(255, 0, 0, 0.5);
  min-height: 10vh;
  // height: 15vh;
}

.current-temp {
  background-color: rgba(0, 0, 255, 0.5);
  min-height: 30vh;
  // height: 30vh;
}

.current-stats {
  background-color: rgba(0, 255, 0, 0.5);
  min-height: 30vh;
  // height: 27.5vh;
}

.weather-forecast {
  background-color: rgba(255, 255, 0, 0.5);
  min-height: 30vh;
  // min-height: auto;
  // flex: 1;
  // height: 27.5vh;
}

.col-3, .col-4, .col-6, .col-12 {
  outline: 1px solid black;
}

// .col-12 .weather-forecast div.weather-forecast__card:nth-child(7) {
//   background-color: red !important;
// }

// .col-12 .weather-forecast div.weather-forecast__card:nth-child(8) {
//   background-color: red !important;
// }

div.weather-forecast__card:nth-child(7) {
  border: 1px solid black;
}

@import 'breakpoints';