/* 
======================================================
00. Imports
01. Global variables & Utility classes
02. Animations
====================================================== 
*/


// 00. Imports
@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// This test file will override every setting for each element, making it easier to detect errors
// @import "test"; 


// 01. Global variables & Utility classes
html {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1600 - 300))) !important;
  height: 100%;
}

body {
  background-color: darken(#18222d, 5%);
}

.font-size-1 {
  font-size: 1.1rem;
  margin-left: .25rem !important;
}

.font-size-2 {
  font-size: 2rem;
}

.font-size-1,
.font-size-2 {
  font-weight: bold;
}


// 02. Animations
.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}